html,
body {
    background-color: #fff;
    color: #555555;
    font-family: 'Century Gothic', 'Arial', sans-serif;
    text-rendering: optimizeLegibility;
}

.form-img {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.14)), to(rgba(0, 0, 0, 0.36))), url(https://res.cloudinary.com/anikriz/image/upload/v1568650685/HNG%20%7CStartng%20Internship/Optimized-bg-img_pxjje8.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.14), rgba(0, 0, 0, 0.36)), url(https://res.cloudinary.com/anikriz/image/upload/v1568650685/HNG%20%7CStartng%20Internship/Optimized-bg-img_pxjje8.jpg);
    background-size: cover;
    background-position: center;
}

.parent{
    height: 700px;
}

.insideParent{
    height: 600px;
    width: 100%;
}

.right-side {
    padding: 40px;
}

.scl-btn {
    border-radius: 50px;
    background-color: #ECE9E9;
    font-size: 15px;
}

.scl-btn a {
    text-decoration: none;
    color: #000;
}

.scl-btn a:hover {
    color: #E67E22;
}

.fb-txt {
    padding-left: 0;
}

.input-field {
    height: 50px;
}

.submit-button {
    border-radius: 50px;
    border: 1px solid #000;
}

.submit-button:hover {
    background-color: #E67E22;
    color: #fff;
}

.reset-pwd a {
    text-decoration: none;
    color: #000;
}

.reset-pwd a:hover {
    text-decoration: none;
    color: #E67E22;
}

.sign-up a {
    text-decoration: none;
    color: #E67E22;
}

/*------------------------------------------------------------------

            Fancy Line for dividing the social login
                    and the register for

-------------------------------------------------------------------*/

.fancy {
    line-height: 0.5;
    text-align: center;
    font-size: 25px;
}

.fancy span {
  display: inline-block;
  position: relative;  
}

.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 1px;
  border-top: 1px solid black;
  top: 5px;
  width: 50px;
}

.fancy span:before {
  right: 100%;
  margin-right: 15px;
}

.fancy span:after {
  left: 100%;
  margin-left: 15px;
}
